body{
    margin: 0;
    padding: 0;
    overflow: hidden;    

}
#nav{
  height: 22px;
  width: 100%;  
}
.list{
    list-style-type: none;
    float: left;
    
}
.list-2{
    list-style-type: none; 
   float: right;
  
}
.signup{
    margin-top: 0px;
    width: fit-content;
    height: fit-content;
    background-color: #4285F4;
    color: white;
    height: 25px;
}
li{
    padding:8px;
    float: left;
    color:#6f6f6f;
    list-style:none;
    
}
#image{
    height: 24px;
    width: 24px;
}
.google-image{
   align-items: center;
}
#google{
    height: 170px;
    width: 310px;
   margin-left: 350px;
   margin-top: 100px;
    
}
input{
    height: 40px;
    width: 500px;
    margin-left: 400px;
    font-size: 20px;
    border:1px solid #e5e5e5;
    border-radius: 25px;
    box-shadow: 0px 0px 0px 0px #e5e5e5;
}
button{
    background-color: #f6f6f6;
   font-size: 15px;
   color:#6f6f6f;  
   height: 38px; width:140px;
    margin-top: 30px;
    border: 1px solid #e4e4e4;
}
.footer{
    height: 45px;
    width:100%;
    background-color: #f2f2f2;
    border:1px solid #e4e4e4;
    position: absolute;
    bottom: 0;
}
.list-3{
    float: left; 
    margin-left: -30px;

}
.list-4{
    float: right;

}